* {
    box-sizing: border-box;
}

body {
    word-break: keep-all;  /* 한글 단어 끊김 방지 */
    word-wrap: break-word;  /* 단어가 넘으면 줄바꿈 */
}

#main {
    padding: 20px;
}
#main .main-top {
    padding: 30px 0;
    border-bottom: 1px solid #e2e2e2;
}

#main .contents {
    padding-top: 30px;
}

/* tab-btn */
#main .contents .tab-btn {
    margin-bottom: 25px;
}
#main .contents .tab-btn li {
    display: none;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    border: 1px solid #e2e2e2;
    font-weight: 500;
}
#main .contents .tab-btn li.show {
    display: block;
}
#main .contents .tab-btn li.active {
    background-color: #1b6eab;
    border: 1px solid #1b6eab;
}
#main .contents .tab-btn li.active button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

#main .contents .tab-btn button {
    width: 100%;
}


/* 공통부분 */
#main .contents .detail-box {
    padding: 10px;
    margin-bottom: 25px;
}
.detail-box p:first-child {
    font-size: 20px;
    font-weight: 500;
}

#main .contents .tit-sub {
    margin-top: 25px;
    margin-bottom: 10px;
}

fieldset {
    border: 0 none;
}
legend {
    font-size: 20px;
    font-weight: 500;
}



/* .dona-info */
#main .contents .dona-info {
    display: none;
}
#main .contents .dona-info.show {
    display: block;
}

/* 기증절차 */
.dona-info .step-box {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.dona-info .step-box dt {
    background-color: #e2e2e2;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.dona-info .step-box dd {
    padding: 0 20px;
}
.dona-info .step-box dd:nth-child(2) {
    font-weight: 500;
    color: #1b6eab;
}

/* */
.dona-info .explain p {
    padding-left: 16px;
    position: relative;
}
.dona-info .explain p::before {
    content: "•";
    position: absolute; left: 0; top: -2px;
    font-size: 18px;
}

/* 접수문의 */
.dona-info .chart-tit {
    font-size: 18px;
    font-weight: 500;
}
.dona-info .chart {
    margin: 5px 0 20px 0;
    table-layout: fixed;
}
.chart tr:last-child th {
    border-bottom: 1px solid #ababab;
}
.chart th {
    vertical-align: middle;
    text-align: center;
    line-height: 1.2;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 500;
}
.chart td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}



/* .dona-apply */
#main .contents .dona-apply {
    display: none;
}
#main .contents .dona-apply.show {
    display: block;
}

/* 동의안내 */
.dona-apply .apply-info {
    padding: 10px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.dona-apply .apply-info table {
    margin: 10px 0;
}
.dona-apply .apply-info table th, .dona-apply .apply-info table td {
    border-right: 1px solid #e2e2e2;
}
.apply-info table th:last-child, .apply-info table td:last-child {
    border-right: 0 none;
}

.dona-apply .apply-radio input {
    appearance: auto;
    width: auto;
}

/* 기증정보 */
.dona-apply fieldset:last-child {
    margin-top: 20px;
    position: relative;
}
.dona-apply .test {
    font-size: 14px;
}
.dona-apply .download {
    position: absolute; right: 0; top: -5px;
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #555;
}

.dona-apply .base-form {
    border-top: 2px solid #555;
    margin-top: 5px;
}
.dona-apply .base-form dl {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-bottom: 1px solid #e2e2e2;
}
.dona-apply .base-form dt {
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f8fa;
    font-weight: 500;
    line-height: 1.2;
}
.dona-apply .base-form dd {
    width: 70%;
    padding: 10px;
}

/* 도서관선택 */
.dona-apply .library-ch ul {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.dona-apply .library-ch li {
    display: none;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
}
.dona-apply .library-ch li:first-child {
    border-top: 0 none;
}
.dona-apply .library-ch li.show {
    display: block;
}

/* 연락처 */
.dona-apply .tell-num dd {
    display: flex;
    gap: 4px;
}
.dona-apply .tell-num ul {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dona-apply .tell-num li {
    display: none;
    height: 100%;
    padding: 10px 20px 10px 15px;
    border-top: 1px solid #ccc;
}
.dona-apply .tell-num li:first-child {
    border-top: 0 none;
}
.dona-apply .tell-num li.show {
    display: block;
}

/* 주소 */
.dona-apply .address label {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}
.dona-apply .address button {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #444;
    border-radius: 5px;
}

/* 반환여부 */
.dona-apply .return dd {
    display: flex;
    flex-direction: column;
}
.dona-apply .return input {
    appearance: auto;
    width: auto;
}

/* 인수증 */
.dona-apply .check dd {
    display: flex;
    flex-direction: column;
}
.dona-apply .check .radio-btn input {
    appearance: auto;
    width: auto;
}
.check .email-box {
    margin-top: 5px;
}
.check .email-box .email {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.check .email span {
    padding: 0 4px;
    line-height: 45px;
    vertical-align: middle;
}
.check ul {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.check li {
    display: none;
    height: 100%;
    padding: 10px 20px 10px 15px;
    border-top: 1px solid #ccc;
}
.check li:first-child {
    border-top: 0 none;
}
.check li.show {
    display: block;
}

/* 비밀번호 */
.dona-apply .user-pwd input {
    margin-bottom: 5px;
} 
.dona-apply .user-pwd p {
    padding-left: 16px;
    line-height: 1.3;
}
.user-pwd p.sentence {
    position: relative;
}
.user-pwd p.sentence::before {
    content: "※";
    position: absolute; left: 0; top: -2px;
    font-size: 18px;
}

/* 버튼 */
.dona-apply .btn {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    box-sizing: border-box;
}
.dona-apply .btn .cancel-btn {
    width: 40%;
    padding: 10px 20px;
    background-color: #e2e2e2;
    font-size: 18px;
    font-weight: 500;
}
.dona-apply .btn .apply-btn {
    width: 60%;
    padding: 10px 20px;
    background-color: #5F99C4;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.dona-apply .btn .apply-btn.active {
    background-color: #1b6eab;
}



/* .dona-inquiry */
#main .contents .dona-inquiry {
    display: none;
}
#main .contents .dona-inquiry.show {
    display: block;
}

/* 디테일박스 */
.dona-inquiry .detail-box .sentence {
    padding-left: 16px;
    position: relative;
}
.detail-box .sentence::before {
    content: "▪";
    position: absolute; left: 0; top: 0;
    font-size: 18px;
}

/* 조회검색 */
.dona-inquiry .base-form, .dona-list .base-form {
    border: 0 none;
    margin-bottom: 20px;
}
.dona-inquiry .base-form .user-se, .dona-list .base-form .title-se {
    display: flex;
    gap: 4px;
    margin-top: 5px;
}

.dona-inquiry .base-form ul, .dona-list .base-form ul {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dona-inquiry .base-form li, .dona-list .base-form li {
    display: none;
    padding: 10px 20px 10px 15px;
    border-top: 1px solid #e2e2e2;
}
.dona-inquiry .base-form li:first-child, .dona-list .base-form li:first-child {
    border-top: 0 none;
}
.dona-inquiry .base-form li.show, .dona-list .base-form li.show {
    display: block;
}

.dona-inquiry .base-form button, .dona-list .base-form button {
    width: 100%;
    border: 1px solid #444;
    background-color: #444;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
}

/* 테이블 */
.post-cont table { 
    table-layout: fixed;
    margin-bottom: 10px;
}
.post-cont table th, .post-cont .library, .post-cont .state {
    text-align: center;
}
.post-cont th {
    font-weight: 500;
}
.post-cont th, .post-cont td {
    padding: 10px 0;
}
.post-cont th:last-child, .post-cont td:last-child {
    border-right: 0 none;
}
.post-cont td.user {
    padding-left: 10px;
}



/* .dona-list */
#main .contents .dona-list {
    display: none;
}
#main .contents .dona-list.show {
    display: block;
}

.dona-list table { 
    table-layout: fixed;
    margin-bottom: 10px;
}
.dona-list table th {
    text-align: center;
}
.dona-list table td {
    
}


/* 도서관분류 */
.lb-cate {
    padding: 4px 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}
.sj { /* 수지 */
    background-color: #1b6eab;
}
.jj { /* 죽전 */
    background-color: #a88200;
}
.bj { /* 보정 */
    background-color: #8a9a5b;
}
.dc { /* 동천 */
    background-color: #14c0ba;
}
.sb { /* 성복 */
    background-color: #119814;
}
.gh { /* 기흥 */
    background-color: #595bd1;
}
.cd { /* 창덕 */
    background-color: #3784f0;
}



@media screen and (max-width: 767px){
.post-cont .blind-m { display: none; }
.post-cont .library, .post-cont .state { width: 80px; }
}