body {
    word-break: keep-all;  /* 한글 단어 끊김 방지 */
    word-wrap: break-word;  /* 단어가 넘으면 줄바꿈 */
}

#main {
    padding: 20px;
}
#main .main-top {
    padding: 30px 0;
    border-bottom: 1px solid #e2e2e2;
}

#main .contents {
    padding-top: 30px;
}

#main .contents .history-top {
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
    background-color: #e2e2e2;
    border-radius: 5px;
}
.history-top p {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.history-top ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.history-top li button {
    font-size: 18px;
    padding: 12px 4px 4px 4px;
    position: relative;
}
.history-top li.active button {
    font-weight: 500;
    color: #fff;
}
.history-top li button::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #444;
    position: absolute; left: 50%; top: 4px;
    transform: translateX(-50%);
}
.history-top li.active button::before {
    content: "";
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}


#main .contents .history-box {
    display: none;
}
#main .contents .history-box.show {
    display: block;
}

#main .contents .history-box .history-list {
    display: flex;
    width: 100%;
}
.history-list .left {
    width: 50%;
    padding-right: 15px;
}
.history-list .right {
    width: 50%;
    padding-left: 15px;
}

.history-list .year {
    font-size: 24px;
    font-weight: 600;
}

.history-list li {
    padding-left: 16px;
    position: relative;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 4px;
}
.history-list li::before {
    content: "▪";
    position: absolute; left: 0; top: 0;
    font-size: 18px;
}
.history-list li p {
    font-weight: 400;
}