.container {overflow: hidden;}
.contents .post-cont {padding: 10px;}

.post-cont table { table-layout:fixed}
.post-cont table th {
    text-align: center;
}
.library-box ul {
    width: 95%;
    position:absolute; left:10px; top:7px;
}

 .base-form #library-ch {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: absolute; left: 10px; top: 10px;
    z-index: 1;
}

.contents .base-form #librarych.open {
    height: 300px; /* 스크롤때문에 써야됨 */
    overflow-y: auto;
    z-index: 100;
}

.contents .base-form {
    position: relative;
    border: 0 none;
    margin-bottom: 20px;
    height: 120px;
    padding: 10px;
    background-color: #e2e2e2;
}

.contents .base-form ul {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.contents .base-form li:first-child {
    border-top: 0 none;
}

.contents .base-form ul li.active {
    display: block;
    border-top: 0 none;
}

 .contents .base-form li {
    display: none;
    height: 46px;
    padding: 10px 20px 10px 15px;
    border-top: 1px solid #e2e2e2;
}
 .contents .base-form li:first-child {
    border-top: 0 none;
}

.base-form .search div {
    width: calc(80% - 4px);
    position: absolute; left: calc(25% + 4px); top: 2px;
    display: flex;
    gap: 4px;
}

.base-form .search ul {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: absolute; left: 0; top: 0;
}

.search .library-name li.show {display: block;}
.search .library-name li {display: none;}

.contents .base-form .search {
    width: calc(100% - 20px);
    display: flex;
    gap: 4px;
    margin-top: 5px;
    position: relative; right: 0; top: 46px;
}

.contents .base-form input {
    background-color: #fff;
}

.contents .base-form button {
    width: 50%;
    border: 1px solid #444;
    background-color: #444;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0;
    box-sizing: border-box

}

.post-cont .table-line td {padding: 10px 2px; text-align: center;}
.post-cont .table-list {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */ 
}

.table-line span {margin-right: 5px;}

.table-line .lb-cate { width: 70px; text-align: center;}

.paging-box {text-align: center; margin: 40px 0;}

.paging-box a {
    display: inline-block;
    width: 35px;
    height: 40px;
    font-size: 20px; 
    font-weight: 300;
    color: #232323;
    padding: 5px;
}

.paging-box a.active{
    color: #fff;
    background-color: #232323;
}

@media screen and (max-width: 767px){
    .post-cont .blind-m {display: none;}
    .post-cont .press-date {width: 90px;}
    .table-line td.press-name {text-align: left;}
}


@media screen and (min-width: 768px){ 
    body { 
        font-size: 18px;
    }
    .table-line {text-align: center;}
    .post-cont .press-number {width: 100px;} 
    .post-cont .press-img {width: 100px;text-align: center;} 
    
    .post-cont .press-png {width: 100px; text-align: center;} 
    .post-cont .press-date{width: 100px; text-align: center; } 
    .post-cont .press-views {width: 100px;text-align: center; }
}


@media screen and (min-width: 1024px){ 
    .contents .base-form {
        height: 68px;
    }
    .contents .base-form fieldset {
        display: flex;
    }

    .contents .base-form .search #librarych {
        width: calc(30% - 14px);
    }

    .contents .base-form .search {
        margin-top: 0;
        width: calc(67% - 6px);
        position: absolute; top: 7px; bottom: auto;
    }
    .base-form .search .library-name {
        width: 24%;
    }

    .base-form .search button {
        padding: 10px 0;
        font-size: 18px;
        box-sizing: border-box;
    }

    .library-box ul {
        width: 32%;
        position:absolute; left:10px; top:7px;
    }
    .base-form .search div {
    width: calc(74% - 6px);
    position: absolute; left: calc(24% + 4px); top: 0;
    display: flex;
    gap: 4px;
}
}

@media screen and (max-width: 1023px){
    .blind-t {  display: none;}
    .table-line {text-align: center;}
    .post-cont .press-number {width: 10%; text-align: center;} 
    .post-cont .press-img {width: 20%; text-align: center;} 
    .post-cont .press-name {width: 30%; text-align: center;}
    .post-cont .press-png {width: 10%; text-align: center;} 
    .post-cont .press-date{width: 20%; text-align: center; } 
    .post-cont .press-views {width: 10%;text-align: center; }
    .table-line td.press-name {text-align: left;}
    .post-cont .table-list {
        white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
        overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
        text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */ }
    
}

