body {
    word-break: keep-all;  /* 한글 단어 끊김 방지 */
}

.container {
    width: 100%;
}

#main {
    padding: 20px;
}
#main .main-top {
    padding: 30px 0;
    border-bottom: 1px solid #e2e2e2;
}

#main .contents {
    padding-top: 30px;
}

#main .contents .tab-btn {
    display: flex;
    margin-bottom: 25px;
}
#main .contents .tab-btn li {
    width: 100%;
    text-align: center;
    padding: 4px 0;
    font-weight: 500;
}

#main .contents .ani-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#main .contents .ani-btn button {
    width: 100%;
    height: 100%;
}




@media screen and (min-width: 640px){
    #main .contents .ani-btn {
        grid-template-columns: repeat(4, 1fr);
    }
}