/* 검색영역 */
.search-area {
    display: none;
}

.search-area.show {
    display: block;
    position: fixed; left: 0; top: 0;
    width: 100%;
    padding: 50px 20px;
    border-radius: 0 0 20px 20px;
    background-color: #e2e2e2;
}

.search-area label {
    display: flex;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}
.search-area input {
    border: 0 none;
}

.search-area .trending {
    display: flex;
}
.search-area .trending p {
    padding: 2px 8px;
    margin-right: 10px;
    height: fit-content;
    color: #fff;
    background-color: #1b6eab;
    border-radius: 20px;
}
.search-area .trending ul {
    display: flex;
    flex-wrap: wrap;
}
.search-area .trending ul li {
    padding: 2px 8px;
    margin: 0 10px 10px 0;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
}
.search-area .trending ul li:nth-child(n+5) { display: none; }

.search-area button {
    position: absolute; left: 50%; bottom: -18px;
    transform: translateX(-50%);
    width: 36px;
    height: 36px;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    background-color: #fff;
}


/* header-bar */
.header-bar {
    display: flex;
}
.header-bar a:first-child {
    margin-left: auto;
}

.header-bar .sns-menu {
    text-align: right;
}
.header-bar .sns-menu .dropdown {
    display: none;
}
.header-bar .sns-menu .dropdown.show {
    display: flex;
}


/* #gnb */
#gnb.m-base {
    position: fixed; left:0; top:0;
    width: 100%; 
    background-color: #fff;
    display: none;
}
#gnb.m-base.show {
    display: block;
}

#gnb.m-base .main-tit {
    position: relative;
    border-radius: 8px 8px 0 0 ;
    background-color: #1b6eab;
}
#gnb.m-base p {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

#gnb.m-base button {
    position: absolute; right:7px; top: 6px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fff;
}

#gnb.m-base .wrap {
    position: relative;
}
#gnb.m-base .gnb-tab { 
    display: flex;
    width: 40%;
    background-color: rgb(239, 239, 239);
    border-bottom : 1px solid #f4f4f4;
}

#gnb.m-base .gnb-tab:first-child {background-color: #fff; border-bottom: 2px solid #1b6eab; }
#gnb.m-base .gnb-tab .on { color: #1b6eab;}

#gnb.m-base .gnb-tab > a {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    font-size: 18px;
    color: #464646;
}

#gnb.m-base .sub-menu > li > a {
    display: inline-block;
    height: 50px;
    padding: 20px 0 33px 20px;
    font-size: 16px;
    color: #555;
}

#gnb.m-base .gnb-tab .sub-menu {display: none;}
#gnb.m-base .sub-menu > li:first-child .depth3{
    display: none;
}

#gnb.m-base .gnb-tab.show .sub-menu {
    display: block; 
    position:absolute; left:40%; top:0;
    width: calc(100% - 40%);
}
#gnb.m-base .sub-menu .depth3 { display: none;}
#gnb.m-base .sub-menu .depth3.on { display: block;}



/* 태블릿 - 검색영역 */
@media screen and (min-width: 600px) {
    .search-area {
        padding: 50px 100px;
    }

    .search-area .trending ul li:nth-child(n+5) { display: block; }
    .search-area .trending ul li:nth-child(n+9) { display: none; }
}


/* 태블릿 */
@media screen and (min-width: 768px){ 
    body { 
    }
    #gnb.m-base .gnb-tab > a {font-size: 23px;}
    #gnb.m-base .sub-menu > li > a {font-size: 20px;}
    #gnb.m-base p {font-size: 25px;}
    
}


/* 데스크탑 */
@media screen and (min-width: 1024px){ 
    body { 
    }
    
    /* 검색영역 */
    .search-area .trending ul li:nth-child(n+9) { display: block; }

    /* #gnb */
    #gnb.p-base .wrap {
        display: flex;
    }
    
    #gnb.p-base .wrap .sub-menu {
        display: none;
    }

    #gnb.p-base .wrap .menu-tit:hover .sub-menu {
        display: block;
    }
}