#main {
    width: 100%;
}

#main .main-cont .introduce {
    text-align: center;
}
.main-cont .introduce p {
    line-height: 1.2;
}
.main-cont .introduce p:last-child {
    font-size: 24px;
    font-weight: 500;
}

/*  */
#main .main-cont .first, #main .main-cont .login {
    border: 1px solid #1B6EAB;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.main-cont .first input {
    height: 100%;
    border: 0 none;
}
.main-cont .first .rest-area {
    padding: 16px;
    color: #fff;
    background-color: #1B6EAB;
}
.main-cont .first .rest-area .rest-info {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 16px;
    text-align: center;
}

.main-cont .first .rest-area .open-time {
    margin-top: 16px;
    padding-right: 10px;
    height: 150px;
    overflow-y: auto;
}
.main-cont .first .rest-area .open-time p {
    display: flex;
}
.open-time p span {
    display: inline-block;
}
.open-time p .left {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.open-time p .rigth {
    width: 45%;
    text-align: right;
}


/*  */
.main-cont .login {
    text-align: center;
}
.main-cont .login legend {
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;
    color: #fff;
    background-color: #03416E;
    border: 1px solid #03416E;
    z-index: 1;
}
.main-cont .login .in-box {
    padding: 20px 20px 10px 20px;
    display: flex;
}
.main-cont .login .in-box label:last-child input{
    margin-top: 4px;
}

.main-cont .login .in-box button {
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-left: 4px;
    color: #fff;
    background-color: #1B6EAB;
    border-radius: 3px;
}

.main-cont .login p {
    margin-bottom: 10px;
}
.main-cont .login p button {
    font-size: 14px;
    padding-right: 10px;
    position: relative;
}
.main-cont .login p button::after {
    content: "|";
    font-size: 12px;
    position: absolute; right: 0; top: 2px;
}
.main-cont .login p button:last-child::after {
    content: "";
}

/*  */
.main-cont .quick-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.main-cont .quick-btns a {
    text-align: center;
}
.main-cont .quick-btns a button {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 8px;
}


/*  */
#main .curation {
    box-sizing: border-box;
}

.tit-sec {
    font-size: 28px;
    font-weight: 600;
}

.curation .tab-btn {
    margin-top: 16px;
    display: flex;
    gap: 4px;
}
.curation .tab-btn button {
    font-size: 16px;
    padding: 8px 10px;
    background-color: #e2e2e2;
    border-radius: 50px;
}
.curation .tab-btn button.active {
    color: #fff;
    background-color: #1B6EAB;
}
.curation .tab-btn button a {
    font-size: 16px;
}
.curation .tab-btn button.active a {
    color: #fff;
}
.curation .tab-btn button:last-child {
    margin-left: auto;
}

.curation .slide-banner-wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
    box-sizing: border-box;
}
.curation .slide-banner {
    
    display: flex;
    gap: 8px
}

.curation .slide-banner li {
    flex-shrink: 0;
}
.curation .slide-banner .img-mask {
    width: 260px;
    height: 380px;
    background-color: #e2e2e2;
}
.curation .slide-banner li dt {
    width: 260px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.curation .slide-banner li dd {
    display: none;
}

.curation .slide-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}



@media screen and (min-width: 768px) {
    .top-box {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    
    .top-box .first {
        width: 60%;
    }
    .top-box .first form {
        display: flex;
    }
    .top-box .first form label {
        width: 100%;
    }
    .top-box .first .trending {
        display: flex;
        margin-left: auto;
        padding: 10px;
        width: 40%;
        color: #fff;
        background-color: #03416E;
    }
    .top-box .first .trending li {
        display: none;
        line-height: 38px;
    }
    .top-box .first .trending li.show {
        display: block;
    }
    .top-box .first .trending .updown {
        margin-left: auto;
        display: flex;
        flex-direction: column;  /* 세로로 정렬 */
        justify-content: center;  /* 세로방향 가운데 정렬 */
    }
    
    
    .top-box .first .rest-area {
        display: flex;
    }
    .top-box .first .rest-area .rest-info {
        width: 50%;
        border-bottom: 0 none;
        border-right: 2px solid #e2e2e2;
        padding: 0 20px 0 0;
    }

    .top-box .first .rest-area .open-time {
        width: 50%;
        margin: 0;
        padding-left: 20px;
    }

    .top-box .login {
        width: 40%;
    }

    .top-box .login legend {
        height: 58px;
        padding: 12px 0;
        box-sizing: border-box;
    }

    .curation .slide-banner li.show {
        display: flex;
    }
    .curation .slide-banner li.show dl {
        width: 260px;
        height: 380px;
        margin-left: 10px;
    }
    .curation .slide-banner li.show dd {
        display: block;
    }
}


@media screen and (min-width: 500px) {
    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main-cont .quick-btns a button {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 1200px){
    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    
}

