/*본문 전체 적용*/
#main {
    width: 100%;
}
*::-webkit-scrollbar { /*스크롤바 숨기기*/
  display: none;
}
#main .sec-area {
    margin-bottom: 50px;
}
#main img { height: 100%;} /*아이콘*/

.tit-box {
    display: flex;
}
.more { /* + 표시*/ 
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #333;
}
.more img {
    width: 100%;
}

#main .sec-tit { /*h2*/
    font-size: 28px;
    font-weight: 600;
}
#main .main-txt { /*부제목*/
    font-size: 17px;
    color: #464646;
    margin-bottom: 16px;
}
#main .tab-btn {
    gap: 8px;
    margin-top: 16px;
}

#main .tab-btn button,
#main .tab-btn button a {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    background-color: #464646;
    border-radius: 50px;
    color: #fff;
    flex-shrink: 0;
}
#main .tab-btn button.active {
    background-color: #c83156;
}

.slide-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.slide-btns button {
    width: 36px;
    height: 36px;
    border: 1px solid #464646;
    border-radius: 50px;
}

/* 팝업 공지 */
.popup-wrap {
    position: fixed;
    left: 0; right: 0;
    top:0; bottom:0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.check { position: absolute; right: 65px; top:-5px; font-size:13px; }
.check input {display: none;}
.popup-area {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
     min-width: 280px; 
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column; /* row */
}
.popup-area .close-btn {
    color: #fff;
    font-weight: 300;
    position: absolute; right: 0; top: 0;
    line-height: 30px;
}

.popup-area .cont { flex: 1 }
.popup-area .cont li {
    width: 300px;
    height: 100%;
}
.popup-area .controls {
    font-weight: 300;
    color: #fff;
    align-items: center;
    text-align: right; 
    height: 32px;
    background-color: rgba(68, 68, 68, .8); 
}
.controls button img {
    width: 30px; 
    height: 30px; 
}


/*공통 - 슬라이드 배너 스타일 */
.list-wrap {
    overflow: hidden;
    overflow-x: auto;
}

.banner-list {
    display: flex;
    padding-top: 16px;
}

/*공통 - 플로팅스타일*/
.feature-area {
    width: 100%;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    overflow: hidden; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

/*메인 상단*/
#main .main-cont .introduce {
    text-align: center;
}
.main-cont .introduce p {
    line-height: 1.2;
}
.main-cont .introduce p:first-child {
    font-size: 18px;
}

#main .main-cont .first, #main .main-cont .login {
    border: 1px solid #1B6EAB;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.main-cont .first input {
    height: 100%;
    border: 0 none;
}
.main-cont .first .rest-area {
    padding: 16px;
    color: #fff;
    background-color: #1B6EAB;
}
.rest-area .rest-info {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 16px;
    text-align: center;
    overflow: hidden;
}
.rest-area .rest-info .test {
    line-height: 20px;
}
.rest-area .rest-info .year {
    font-size: 20px;
    vertical-align: bottom;
}
.rest-area .rest-info .btns span {
    font-size: 30px;
    font-weight: 600;
}

.rest-area .rest-info .rest-day {
    margin: 10px 0;
    display: none;
}
.rest-area .rest-info .rest-day.show {
    display: block;
}
.rest-area .rest-info .rest-day span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #333;
    background-color: #fff;
    line-height: 40px;
    font-weight: 500;
}
.rest-area .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.rest-area .open-time {
    margin-top: 16px;
    padding-right: 16px;
    height: 150px;
    overflow-y: auto;
}
.rest-area .open-time p {
    display: flex;
    margin-bottom: 2px;
}
.open-time p span {
    display: inline-block;
}
.open-time p .left {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.open-time p .rigth {
    width: 45%;
    text-align: right;
}


/* 상단- 로그인  */
.main-cont .login {
    text-align: center;
}
.main-cont .login legend {
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;
    color: #fff;
    background-color: #03416E;
    border: 1px solid #03416E;
    z-index: 1;
}
.main-cont .login .in-box {
    padding: 20px 20px 10px 20px;
    display: flex;
}
.main-cont .login .in-box label:last-child input{
    margin-top: 4px;
}

.main-cont .login .in-box button {
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-left: 4px;
    color: #fff;
    background-color: #1B6EAB;
    border-radius: 3px;
}

.main-cont .login p {
    margin-bottom: 10px;
}
.main-cont .login p button {
    font-size: 16px;
    padding-right: 10px;
    position: relative;
}
.main-cont .login p button::after {
    content: "|";
    font-size: 14px;
    position: absolute; right: 0; top: 2px;
}
.main-cont .login p button:last-child::after {
    content: "";
}


/* 메인상단 - 자주찾는 메뉴 */
.main-cont .quick-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.quick-btns a {
    display: flex;
    flex-direction: column;  /* 세로로 정렬 */
    text-align: center;
    text-decoration: none;
}
.quick-btns a button {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 8px;
    position: relative;
}

.quick-btns a button::before {
    content: "";
    background: url("../images/index/ico_svc_main.png") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute; left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.quick-btns a:nth-child(2) button::before {
    content: "";
    background-position: 0 0;
}
.quick-btns a:nth-child(3) button::before {
    content: "";
    background-position: 0 -50px;
}
.quick-btns a:nth-child(4) button::before {
    content: "";
    background-position: 0 -100px;
}
.quick-btns a:nth-child(5) button::before {
    content: "";
    background-position: 0 -200px;
}
.quick-btns a:nth-child(6) button::before {
    content: "";
    background-position: 0 -500px;
}
.quick-btns a:nth-child(7) button::before {
    content: "";
    background-position: 0 -550px;
}
.quick-btns a:nth-child(8) button::before {
    content: "";
    background-position: 0 -600px;
}
.quick-btns a:nth-child(9) button::before {
    content: "";
    background-position: 0 -250px;
}
.quick-btns a:nth-child(10) button::before {
    content: "";
    background-position: 0 -300px;
}
.quick-btns a:nth-child(11) button::before {
    content: "";
    background-position: 0 -800px;
}

.quick-btns a span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}


/*팝업존*/
.popup-zone .m-tit { font-size: 28px; font-weight: 600; }
.popup-zone .sub-tit { 
    margin-bottom: 25px; 
    color: #464646;  
}
.popup-zone .swiper {
    width: 100%;
    overflow: hidden;
}
.popup-zone .swiper-wrapper {
    display: flex;
}
.popup-zone .swiper-slide {
    width: 280px;
    height: 280px;
    background-color: #bebebe;
    flex-shrink: 0;
    overflow: hidden;
}


/*도서관 소식 - 공지사항*/
.feature-area li {
    display: flex;
    margin-bottom: 15px;
    justify-content:start;
}
.feature-area li:last-child {
    margin: 0;
}
.feature-area li span {
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    background-color: #FFF;
    border: 1px solid #333;
    font-size: 1em;
}
.feature-area li .sj {
    color: #FFF;
    background-color: #1b6eab;
    border: 1px solid #1b6eab;
}
.feature-area li dl {
    min-width: 0;
    
}
.feature-area dt {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */
}
.feature-area li dd {
    font-size: 14px;
    color: #646464;
}
/*이용 안내*/
.guide .feature-area {
    padding: 0;
}

.guide .btn-box {
    display: flex;
    margin-bottom: 16px;
    gap:8px
}

.guide .btn-box p { width: calc(50% - 8px);}

.btn-box a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px; 
    padding: 15px 0;
    color: #232323;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin-top: 10px;
}
.guide .box-tit {
    font-size: 18px;
    font-weight: 500;
    padding:5px 20px;
    width: 100%;
    background-color: #c83156;
    color: #fff;
}

.desc {padding: 20px 30px;} /*테이블 내부 패딩*/

.seat-table tbody tr:first-child th, .seat-table tbody tr:first-child td {
    padding-top: 15px;
}
.seat-table thead{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.ta-l,.ta-l01,.ta-l02,.ta-l03,.ta-l04 {font-weight: 500;}
.ta-l20 {padding-right: 5px;}
.seat-table .ta-l21,.ta-l22 {color:#646464; }
.seat-table .ta-l23 {color: #e82929;}
.seat-table .ta-l24 {color: #1b30ff;}


/*도서관 아카이브*/
.archive-banner .sel-wrapper {
    position: relative;
}
.archive-banner .sel-box {
    position: absolute; 
    top: 0;
    left: 0;
    width: 200px;
    border-radius: 30px;
    border: 1px solid #ddd;
    text-align: start;
    padding: 5px 20px 5px 15px;
    background-color: #FFF;
}
.archive-banner .sel-box.open {
    z-index: 100;
    border-radius: 20px;
}
.archive-banner .sel-box li {
    display: none;
    width: 100%;
    cursor: pointer;
}
.archive-banner .sel-box li.on {
    display: block;
}
/*cdn 구역*/
.archive-banner .swiper {
    width: 100%;
}
.archive-banner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.archive-banner .banner-list {
    padding-top: 48px; /*윗줄 ul때문에*/
}

.archive-banner  .banner-list .card-ui {
    flex-shrink: 0;
    width: 250px;
    margin-right: 10px;
    border: 1px solid #ddd; /*임시*/
    transition: .3s;
}
.archive-banner  .banner-list .card-ui:hover{
    transform: translateY(-8px);
}
.archive-banner  .banner-list li .img-box {
    width: 100%;
    height: 150px;
    background-color: #eee; /*임시*/
}
.archive-banner  .banner-list li .img-box:hover{
    transform: scale(1);
    transition: transform 0.8s ease;
}
.archive-banner .card-ui dl {
    padding: 5px 10px 30px;
}
.archive-banner .card-ui dt {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    word-break: keep-all;
    overflow-wrap: break-word;

}
.archive-banner  .card-ui dd {
    margin-top: 10px;
    color: #646464;
}

/* .archive-banner .list-wrap .slide-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
} */
.archive-banner .swiper-horizontal .swiper-button-next, 
.archive-banner .swiper-horizontal .swiper-button-prev {
    position: static;
    margin-top: 0;
}


/*문화행사*/
.event-box { /*li*/
    width: 280px;
    height: auto;
    border: 1px solid #e2e2e2;
    padding: 20px;
    flex-shrink: 0;
    margin-right: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .2);
}
.event-box span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    min-width: 80px;
    font-size: 14px;
    padding: 0 5px;
    margin-right: 5px;
}
.event-box .sj {background-color: #1b6eab;}
.event-box .ing  {background-color: #b94c4d;}
.event-box .before {background-color: #5784ec;}
.event-box .closed { background-color: #8e9297;}
.event-box .pending  {font-size: 13px; background-color: #81b148;}


.event-title {
    margin: 20px 0;
    font-size: 16px; 
    font-weight: 500;
    color: #000;
    overflow: hidden;
    display: -webkit-box; /* 웹킷 기반 브라우저용 레이아웃 방식 */
    -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
    -webkit-line-clamp: 2; /* 웹킷 방식 줄 수 제한 */
}

.event-box .item-info {
    color: #646464;
}

.event-box .event-period {
    line-height: 1.1;
}

.event-box .target {margin-top: 8px;}

.item-info .stand-by{margin-left: 10px;}

/* .culture-banner .list-wrap .slide-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
} */

/*cdn 기본 css 제거*/
.culture-banner .swiper-horizontal .swiper-button-next, 
.culture-banner .swiper-horizontal .swiper-button-prev {
    position: static;
    margin-top: 10px;
}


/* curation - 북큐레이션 */
.curation .tab-btn {
    margin-top: 16px;
    display: flex;
}

.curation .curation-swiper {
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
    box-sizing: border-box;
}

.curation .curation-banner-cont {
    display: none;
    align-items: flex-end;
}
.curation .curation-banner-cont.show {
    display: flex;
}

.curation .curation-banner-list {
    display: flex;
    gap: 8px;
}

.curation .curation-banner-list li {
    flex-shrink: 0;
    width: calc(300px * 0.7);
    overflow: hidden;
}
.curation .curation-banner-list .banner .img-mask {
    width: calc(300px * 0.7);
    height: calc(440px * 0.7);
    background-color: #e2e2e2;
}
.curation .curation-banner-list .banner p {
    width: calc(300px * 0.7); /*수정해야함 뉴스와 아카이브 글자 튀어나옴 클래스 따르게 주기*/
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #646464;
}

#main .curation .tab-btn button a {
    background-color: transparent;
}

/*반응형 부분*/
@media screen and (min-width: 520px) { 
    .main-cont .login .in-box div {
        width: 70%;
    }
    .main-cont .login .in-box button {
        width: 30%;
    }

    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main-cont .quick-btns a button {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width:768px){ /*태블릿 최소*/
    /* 팝업 공지 */
    .popup-area .controls { height: 36px;}
    .check {position: absolute; right: 65px; top:-3px; font-size:13px;}
    .popup-area .close-btn {
        position: absolute; right: 0; top: 2px;
    }
    
    /*메인 상단*/
    .top-box .first form {
        display: flex;
    }
    .top-box .first form label {
        width: 100%;
    }
    .top-box .first .trending-swiper {
        display: flex;
        height: 55px;
        margin-left: auto;
        padding: 10px;
        width: 40%;
        color: #fff;
        background-color: #03416E;
        overflow: hidden;
    }
    .top-box .first .trending-swiper .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
    .top-box .first .trending-swiper .swiper-slide {
        height: 56px;
        display: flex;
        align-items: center;
    }
    .top-box .first .trending-swiper .updown {
        margin-left: auto;
        display: flex;
        flex-direction: column;  /* 세로로 정렬 */
        justify-content: center;  /* 세로방향 가운데 정렬 */
    }

    .top-box .first .trending-swiper .updown .swiper-button-lock {
        display: block;
    }
    
    .top-box .first .rest-area {
        display: flex;
    }
    .top-box .first .rest-area .rest-info {
        width: 50%;
        border-bottom: 0 none;
        border-right: 2px solid #e2e2e2;
        padding: 0 20px 0 0;
    }

    .top-box .first .rest-area .open-time {
        width: 50%;
        margin: 0;
        padding-left: 20px;
    }

    .top-box .login legend {
        height: 58px;
        padding: 12px 0;
        box-sizing: border-box;
    }

    /* 팝업존 */
    .popup-zone {
        position: relative;
    }
    .popup-zone .slide-btns {
        position: absolute; right: 3px; top: 16px;
        z-index: 10;
    }
    .popup-zone .slide-btns button {
        background-color: #fff;
    }

    /*이용안내*/
    .seat-table tbody tr td {font-size: 18px; text-align: center;}
    .seat-table tr th:first-child {text-align: left;}
    .seat-table th {text-align: center;}


    /* 도서관아카이브 */
    .archive-banner .slide-btns {
        position: absolute; right: 0; top: -10px;
        z-index: 10;
    }
    .archive-banner .slide-btns button {
        background-color: #fff;
    }


    /*문화행사*/
    .culture-banner {
        position: relative;
    }
    .culture-banner .event-box {width: 314px;}
    .item-info {font-size: 17px;}
    .event-box .event-title {font-size: 20px;}

    .culture-banner .slide-btns {
        position: absolute; right: 0; top: 0;
        z-index: 10;
    }
    .culture-banner .slide-btns button {
        background-color: #fff;
    }

    /*큐레이션*/
    .curation .curation-box {
        position: relative;
    }

    .curation .curation-banner-cont.show {
        display: flex;
    }

    .curation .curation-banner {
        width: 570px;
        z-index: 5;
        margin-right: 16px;
    }
    .curation .curation-banner li {
        display: none;
    }
    .curation .curation-banner li.show {
        display: flex;
    }

    .curation .curation-banner li .img-mask {
        width: 300px;
        height: 440px;
        margin-top: 0;
        background-color: #e2e2e2;
    }
    .curation .curation-banner li dl {
        width: 260px;
        height: 440px;
        margin-left: 10px;
        background-color: #fff;
    }
    .curation .curation-banner li dt {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
        white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
        overflow: hidden;  /* 넘친 부분 화면에 표시 x */
        text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */
    }
    .curation .curation-banner li dd {
        display: block;
        font-weight: 500;
    }
    .curation .curation-banner li dd:last-child {
        font-size: 16px;
        font-weight: 400;
        color: #646464;
        margin-top: 20px;
    }

    .curation .curation-banner-list .banner {
        position: relative;
    }
    .curation .curation-banner-list .banner p {
        position: absolute; left: 0; bottom: 0;
        padding: 24px 8px 8px 8px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .curation .slide-btns {
        position: absolute; right: 0; top: -8px;
    }

}


@media screen and (min-width: 1024px) { /*데스크탑 최소너비*/
    body { line-height: 1.4;}
    .banner-wrap {
        display: flex;
        overflow: hidden;
        gap:20px
    }
    .banner-wrap .sec-area:first-child {
        width: calc(40% - 20px);
    }
    .banner-wrap .sec-area:last-child {
        width: calc(60% - 20px);
    }
    #main .tab-btn button,
    #main .tab-btn button a {
        font-size: 20px;
        min-width: 170px;
    }


    /* 팝업 공지 */
    .popup-area .controls { height: 40px;}
    .check {position: absolute; right: 65px; top:-1px; font-size:13px;}
    .popup-area .close-btn {
        color: #fff;
        font-weight: 300;
        position: absolute; right: 0; top: 4px;
    }

    
    /*로그인 부분 맨 상단*/
    .top-box {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    
    .top-box .first {
        width: 60%;
    }

    .top-box .login {
        width: 40%;
    }

    /* 메인상단 - 자주찾는 메뉴 */
    .quick-btns a:hover button {
        background-color: #03416E;
        animation: shake 0.4s ease-in-out forwards;
        transform: translateY(-10px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
    .quick-btns a:nth-child(2):hover button::before {
        content: "";
        background-position: -50px 0;
    }
    .quick-btns a:nth-child(3):hover button::before {
        content: "";
        background-position: -50px -50px;
    }
    .quick-btns a:nth-child(4):hover button::before {
        content: "";
        background-position: -50px -100px;
    }
    .quick-btns a:nth-child(5):hover button::before {
        content: "";
        background-position: -50px -200px;
    }
    .quick-btns a:nth-child(6):hover button::before {
        content: "";
        background-position: -50px -500px;
    }
    .quick-btns a:nth-child(7):hover button::before {
        content: "";
        background-position: -50px -550px;
    }
    .quick-btns a:nth-child(8):hover button::before {
        content: "";
        background-position: -50px -600px;
    }
    .quick-btns a:nth-child(9):hover button::before {
        content: "";
        background-position: -50px -250px;
    }
    .quick-btns a:nth-child(10):hover button::before {
        content: "";
        background-position: -50px -300px;
    }
    .quick-btns a:nth-child(11):hover button::before {
        content: "";
        background-position: -50px -800px;
    }
    .quick-btns a:hover span {
        font-weight: 600;
    }

    @keyframes shake {
        0%, 100% { transform: rotate(0deg) translateY(-6px); }
        25% { transform: rotate(-4deg) translateY(-6px); }
        75% { transform: rotate(4deg) translateY(-6px); }
    }


    /*큐레이션*/
    .curation .curation-box {
        display: flex;
        gap:8px
    }
    .curation .tab-btn {
        flex-direction: column;  /* 세로로 정렬 */
        margin-right: 16px;
    }

    .curation-box .tab-btn button:last-child {
        margin-top: 16px;
        position: relative;
    }
    .curation-box .tab-btn button:last-child::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #646464;
        position: absolute; left: 0; top: -12px;
    }

    /*도서관소식*/
    .feature-area { padding: 35px 30px;}
    .feature-area dt { font-size: 20px;}
    .feature-area li dd { font-size: 16px;}
    .feature-area li span { padding: 15px;}
    
    /*팝업존*/ 
    .popup-zone .img-box {
        width: 400px;
        height: 400px;
    }
    /*도서관 아카이브*/
    .sel-box a {
        margin-top: 5px;
    }
}

/*혜진언니*/
@media screen and (min-width: 1024px) and (max-width: 1074px) {
    .rest-area .open-time {
        height: 180px;
    }
}
@media screen and (min-width: 1100px){
    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    
}
